.questionCardImg img{
    width: 100%;
    max-width: 300px;
}

.questionCardAnswers{
    border: 1px solid black;
}

.newAnswer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionCardEdit{
    display: flex;
    justify-content: center;
    align-items: center;
}
