
.questionCardImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionCardImg img{
    width: 100%;
    width: 600px;
}

.questionCardAnswers{
    border: 1px solid black;
}

.newAnswer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionCardEdit{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 700px) {
    .questionCardImg img{
        width: 400px;
    }
}
@media screen and (max-width: 450px) {
    .questionCardImg img{
        width: 250px;
    }
}

