.quizCard{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.quizCardName, .quizCardImg{
    flex: 1 0 calc(70% - 20px); /* 20px margó mindkét oldalon */
    margin: 10px;
    text-align: center;
}

.quizCardDescription, .quizCardStart{
    flex: 1 0 calc(30% - 20px); /* 20px margó mindkét oldalon */
    margin: 10px;
    text-align: center;
}

.quizCardImg img{
    width: 100%;
    max-width: 300px;
}
